<% content_for :title do %>
  MAGIC CARPET
<% end %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">face</i>
            </div>
            <p class="card-category">Customers</p>
            <h3 class="card-title">1438
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">face</i> See all customers
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">verified_user</i>
            </div>
            <p class="card-category">Rewards</p>
            <h3 class="card-title">$34,245</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">verified_user</i> See all rewards
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">thumb_up</i>
            </div>
            <p class="card-category">Stamps</p>
            <h3 class="card-title">13.849</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">thumb_up</i> See all stamps
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
