<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Reward Plan Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Number of Stamps</label>
                    <select class="form-control">
                      <option>1 stamp</option>
                      <option>2 stamps</option>
                      <option>3 stamps</option>
                    </select>
                  </div>
                </div>
              </div>
             <button type="submit" class="btn btn-primary pull-right">Create</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Rewards Plans</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Name
                  </th>
                  <th>
                    Stamps
                  </th>
                  <th>
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Super Cool
                    </td>
                    <td>
                      5
                    </td>
                    <td class="text-danger">
                      Delete
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Awesome Plan
                    </td>
                    <td>
                      8
                    </td>
                    <td class="text-danger">
                      Delete
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>