<!-- Main -->
    <section id="main" class="container">
        <header>
            <h2>About onlinepoints.app</h2>
            <p>A product marketeer in a previous life, I want to create a solution to get rid of physical points cards. <br />
            Below picture is my actual unused cards...</p>
        </header>
        <div class="box">
            <span class="image featured"><%= image_tag 'pic01.jpg' %></span>
            <h3>Easy for shops to use</h3>
            <p>Currently I am thinking to implement it such that all customers have to tell the shop owner are their phone numbers.  There are solutions out there already using such method, but ties into CRM or have some limitations.  I am working on beta version now:)</p>
            <div class="row">
                <div class="row-6 row-12-mobilep">
                    <h3>Keep It Simple, Silly:)</h3>
                    <p>No android/iOS app.  All you need is a web-browser to enter points/review points.  Let us make this simple.</p>
                </div>
                <div class="row-6 row-12-mobilep">
                    <h3>Always provide a free version</h3>
                    <p>I am targeting to always have a free version, so that parents who would like to award their kids through points, or businesses that are just starting out and don't have the resources, can utilize the free version.  So far I have not found a free version yet!</p>
                </div>
            </div>
        </div>
    </section>
