<!-- Banner -->
    <section id="banner">
    <h2>Unused loyalty points are businesses lost</h2>
    <p>Online points create a win/win scenario for both shops and customers.</p>
    <ul class="actions special">
        <li><a href="#cta" class="button primary">Sign Up As Beta User<a></li>
        <li><a href="#features" class="button">Learn More</a></li>
    </ul>
    </section>

<!-- Main -->
    <section id="main" class="container">

    <section class="box special">
        <header class="major">
        <h2>Introducing the ultimate online points app
        <br />
        for customer loyalty</h2>
        <p>Ever wondered why customers never use your physical loyalty points cards?<br />
        They are easy to get lost, bulky inside your wallet, and points are hard to track.<br />
        Why not sign up to be a beta tester for our online points (for free)?</p>
                                        
        </header>
    
    <!--
        // no need for pictures here
        <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>

    -->

    </section>

    <section id="features" class="box special features">
        <div class="features-row">
        <section>
            <span class="icon major fa fa-bolt accent2"></span>
            <h3>Swift deployment</h3>
            <p>As a shop owner, it only takes 5 minutes and a web-browser to set up.</p>
        </section>
        <section>
            <span class="icon major fa-area-chart accent3"></span>
            <h3>Customized campaign</h3>
            <p>You can create customized loyalty program that fits into your marketing campaign.</p>
        </section>
        </div>
        <div class="features-row">
        <section>
            <span class="icon major fa-cloud accent4"></span>
            <h3>Easy Aggregation</h3>
            <p>Since all points are online, there are no more lost cards.  Shop owners only need a computer (or a tablet) to give customers points.</p>
        </section>
        <section>
            <span class="icon major fa-lock accent5"></span>
            <h3>Detailed reporting</h3>
            <p>Currently we are considering using either email or phone number to create customers' online point cards.  Your feedback is greatly appreciated!</p>
        </section>
        </div>
    </section>

    </section>

<!-- CTA -->
    <section id="cta">

    <h2>Sigu up for beta access</h2>
    <p>Are you a resturant/shop owner who wants to have a marketing campaign but doesn't have the marketing budget?<br />
    Sign up for our beta testing, and test your marketing campaign here(for free)!</p>

    <form method="post" action="https://formspree.io/lin.yuchia@gmail.com?subject=I Want To be a Online Points Beta Bester&body=Sign Up for beta access">
        <div class="row gtr-50 gtr-uniform">
        <div class="col-8 col-12-mobilep">
            <input type="email" name="email" id="email" placeholder="Enter your email here" />
        </div>
        <div class="col-4 col-12-mobilep">
            <input type="submit" value="Sign Up" class="fit" />
        </div>
        </div>
    </form>

    </section>