
<section id="main" class="container">
    <div class="row">
        <div class="col-4 col-11-narrower">
            <section class="box special">
               <span class="icon major fa-bicycle accent2"></span>
                <h3>Free Plan</h3>

                <ul class="alt">
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                </ul>
                <%= link_to 'Select', home_registration_path, class:"button"%>
            </section>
        </div>
        <div class="col-4 col-11-narrower">
            <section class="box special">
                <span class="icon major fa-plane accent3"></span>
                <h3>Profesional Editon</h3>
                <ul class="alt">
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                </ul>
                <%= link_to 'Select', home_contact_path, class:"button"%>
            </section>
        </div>
        <div class="col-4 col-11-narrower">
            <section class="box special">
                <span class="icon major fa-rocket accent4"></span>
                <h3>Enterprise Edition</h3>
                <ul class="alt">
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                </ul>
                <%= link_to 'Select', home_contact_path, class:"button"%>
            </section>
        </div>
    </div>
</section>