<!-- Main -->
<section id="main" class="container medium">
    <header>
        <h2>Onlinepoints Registration</h2>
    </header>
    <div class="box">
        <form method="post" action="">
            <div class="row gtr-50 gtr-uniform">
                <div class="col-12">
                    <input type="email" name="email" id="email" value="" placeholder="Email" />
                </div>
                <div class="col-12">
                    <input type="text" name="password" id="password" value="" placeholder="Password" />
                </div>
                <div class="col-12">
                  <input type="text" name="store" id="store" value="" placeholder="Store Name" />
                </div>
                <div class="col-12">
                    <ul class="actions special">
                        <li><input type="submit" value="Register" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>
